<div class="container">
  <div class="row">
    <h1>ARM LIFT SURGERY</h1>
    <div class="col-sm-6">
      <p>An arm lift, or brachioplasty, is a surgical procedure that:</p>
      <ul>
        <li>Reduces excess sagging skin that droops downward</li>
        <li>Tightens and smoothes the underlying supportive tissue that defines the shape of the upper arm</li>
        <li>Reduces localized pockets of fat in the upper arm region</li>
      </ul>
      <p>
        Fluctuations in weight, growing older and heredity can cause your upper arms to have a drooping, sagging appearance. This is a condition that cannot be corrected through exercise.
        <br><br>Arm lift surgery may be right for you if the underside of your upper arms are sagging or appear loose and full due to excess skin and fat.
      </p>
    </div>
    <div class="col-sm-6">
      <img src="img/aesthetic/arm-lift.jpg" class="center-block img-responsive" alt="Arm lift">
    </div>
  </div>
</div>
