<div class="container">
  <div class="row">
      <div class="col-sm-12">
        <h2>Before - After</h2>
        <div id="carouselAesthetic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carouselAesthetic" data-slide-to="0" class="active"></li>
            <li data-target="#carouselAesthetic" data-slide-to="1"></li>
            <li data-target="#carouselAesthetic" data-slide-to="2"></li>
            <li data-target="#carouselAesthetic" data-slide-to="3"></li>
            <li data-target="#carouselAesthetic" data-slide-to="4"></li>
            <li data-target="#carouselAesthetic" data-slide-to="5"></li>
            <li data-target="#carouselAesthetic" data-slide-to="6"></li>
            <li data-target="#carouselAesthetic" data-slide-to="7"></li>
            <li data-target="#carouselAesthetic" data-slide-to="8"></li>
            <li data-target="#carouselAesthetic" data-slide-to="9"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img class="img-responsive center-block" src="img/aesthetic/before-after/aesthetic(1).jpg" alt="yyy">
            </div>
            <div class="item">
              <img class="img-responsive center-block" src="img/aesthetic/before-after/aesthetic(2).jpg" alt="yyy">
            </div>
            <div class="item">
              <img class="img-responsive center-block" src="img/aesthetic/before-after/aesthetic(3).jpg" alt="yyy">
            </div>
            <div class="item">
              <img class="img-responsive center-block" src="img/aesthetic/before-after/aesthetic(4).jpg" alt="yyy">
            </div>
            <div class="item">
              <img class="img-responsive center-block" src="img/aesthetic/before-after/aesthetic(5).jpg" alt="yyy">
            </div>
            <div class="item">
              <img class="img-responsive center-block" src="img/aesthetic/before-after/aesthetic(6).jpg" alt="yyy">
            </div>
            <div class="item">
              <img class="img-responsive center-block" src="img/aesthetic/before-after/aesthetic(7).jpg" alt="yyy">
            </div>
            <div class="item">
              <img class="img-responsive center-block" src="img/aesthetic/before-after/aesthetic(8).jpg" alt="yyy">
            </div>
            <div class="item">
              <img class="img-responsive center-block" src="img/aesthetic/before-after/aesthetic(9).jpg" alt="yyy">
            </div>
            <div class="item">
              <img class="img-responsive center-block" src="img/aesthetic/before-after/aesthetic(10).jpg" alt="yyy">
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
  <div class="col-sm-6">
    <h2>Plastic Surgery</h2>
    <p>Plastic surgery is a special type of surgery that can change a person's appearance and ability to function. • Reconstructive procedures correct defects on the face or body. These include physical birth defects like cleft lips and palates and
    ear deformities, traumatic injuries like those from dog bites or burns, or the aftermath of disease treatments like rebuilding a woman's breast after surgery for breast cancer.</p>
  </div>
    <div class="col-sm-6">
    <h2>Cosmetic</h2>
      <p>Also called aesthetic, procedures alter a part of the body that the person is not satisfied with. Common cosmetic procedures include making the breasts larger (augmentation mammoplasty) or smaller (reduction mammoplasty), reshaping the nose
      (rhinoplasty), and removing pockets of fat from specific spots on the body (liposuction). Some cosmetic procedures aren't even surgical in the way that most people think of surgery — that is, cutting and stitching. For example, the use of
      special lasers to remove unwanted hair and sanding skin to improve severe scarring are two such treatments.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img class="img-responsive center-block" src="img/tetik.jpg" alt="Associate Prof. Tetik">
    </div>
    <div class="col-sm-8">
      <h2>Associate Prof. Tetik</h2>
      <p>
        After graduating from high school as the top student of the school in 1992, she graduated from Akdeniz University Faculty of Medicine in 1998 with a first degree. Akdeniz University Faculty of Medicine in 1999-2005 Plastic Reconstructive and
        Aesthetic Surgery Department have completed their training and expertise in Turkey thesis was awarded the first prize in the experimental branch. She received a scholarship given to 3 people every year in Europe by the European Society of
        Plastic Surgery (EURAPS) and worked as a clinical fellow in the field of Aesthetic and Post-Cancer Repair Surgery and Microsurgery for the University of Vienna in 2011 and the University of Brussels in 2013.
        <br><br>
        Between 2005-2011, she worked in Ankara Dışkapı Yıldırım Beyazıt Training and Research Hospital where she worked as a specialist and performed successful microsurgery operations on many trauma and tumor cases. In 2015, she received the title
        of
        Associate Professor in the field of Aesthetic Plastic and Reconstructive Surgery. Between the years 2011-2017, Antalya Training and Research Hospital performed many aesthetic and repair surgery operations. In addition, she participated in
        scientific meetings as an instructor and speaker. She has published many national and international scientific publications.
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h1>Some of Our Services</h1>
  </div>
  <div class="row servicesHome">
    <div class="col-sm-4">
      <i class="icon fa fa-female color1"></i>
      <br>
      <h3>Breast Augmentation</h3>
      <hr>
      <p>Breast aug involves using breast implants or fat transfer to increase the size of your breasts. This procedure can also restore breast volume lost after weight reduction or pregnancy, achieve a more rounded breast shape or improve natural
        breast size asymmetry.</p>
      <a href="#!/breast-augmentation" class="btn btn-lg btn-block btn-primary"><i class="fa fa-hand-o-right"></i> More</a>
    </div>
    <div class="col-sm-4">
      <i class="icon fa fa-heart color1"></i>
      <br>
      <h3>Lipomatic</h3>
      <hr>
      <p>Lipomatic is a FDA approved device that has advanced the traditional technique of performing liposuction, making it safe and effective while ensuring a pleasant experience for the patient throughout the procedure. It has many adventages
        compared to liposuction...</p>
      <a href="#!/lipomatic" class="btn btn-lg btn-block btn-primary"><i class="fa fa-hand-o-right"></i> More</a>
    </div>
    <div class="col-sm-4">
      <i class="icon fa fa-flash color1"></i>
      <br>
      <h3>Thulium Laser</h3>
      <hr>
      <p>Treatment of blotches and cracks, hormonal, environmental and metabolic causes of the skin due to the color of the melanin pigment in some areas of the accumulation of stains on the skin and pregnancy, adolescence, such as sudden changes in
        the body...</p>
      <a href="#!/thulium-laser" class="btn btn-lg btn-block btn-primary"><i class="fa fa-hand-o-right"></i> More</a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <h1>Testimonials</h1>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div id="carouselAestheticTestimonials" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carouselAestheticTestimonials" data-slide-to="0" class="active"></li>
          <li data-target="#carouselAestheticTestimonials" data-slide-to="1"></li>
          <li data-target="#carouselAestheticTestimonials" data-slide-to="2"></li>
          <li data-target="#carouselAestheticTestimonials" data-slide-to="3"></li>
          <li data-target="#carouselAestheticTestimonials" data-slide-to="4"></li>
          <li data-target="#carouselAestheticTestimonials" data-slide-to="5"></li>
          <li data-target="#carouselAestheticTestimonials" data-slide-to="6"></li>
          <li data-target="#carouselAestheticTestimonials" data-slide-to="7"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <p class="lead">About two months ago, I had a tummy tuck and a liposuction operation. I'm so lucky that Mrs. Tetik did these operations. Before and after the operation is very relevant itself. I did not have any problems after the
              operation, I got up in a very short time. Thank you very much. You can also be in constant communication no matter how many hours, with itself, thanks again.</p>
            <h3 class="author">- Ebru Çağlayan İşgüzar</h3>
          </div>
          <div class="item">
            <p class="lead">There is no great success if there is no great devotion ... The greatest chance they have for their patients!</p>
            <h3 class="author">- Çisem Yiğit</h3>
          </div>
          <div class="item">
            <p class="lead">Smiling face, knowledgable, experience can go to peace of mind and entrust yourself...</p>
            <h3 class="author">- KAYA CAN</h3>
          </div>
          <div class="item">
            <p class="lead">The result I get in a very short time is great. A professional one-stop address for your future without any thought or doubt. Thanks doctor, your health and your heart.</p>
            <h3 class="author">- HURİYE ERBAŞI ATCİ</h3>
          </div>
          <div class="item">
            <p class="lead">She was a very successful expert in her business. She was very interested in my treatment. Thank you very much, Dr. Tetik, I wish you continue your success.</p>
            <h3 class="author">- SELENAY HACIOĞLU</h3>
          </div>
          <div class="item">
            <p class="lead">Kind, Friendly, Professional...</p>
            <h3 class="author">- NURGÜL ERKAN ALTUNTAŞ</h3>
          </div>
          <div class="item">
            <p class="lead">One word: Wonderful!</p>
            <h3 class="author">- SALİHA BÜLBÜL</h3>
          </div>
          <div class="item">
            <p class="lead">Many years ago, while she was an expert, I had an operation. She did her job with great care and fondness. Wishing success.</p>
            <h3 class="author">- Gülay Bayraktar Badak</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row bg2">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="text-white"><i class="fa fa-book"></i> Get a reservation now</h1>
      <br>
      <a href="#!/contact" class="btn btn-lg btn-primary center-block"><i class="fa fa-hand-o-right"></i> Contact Us</a><br>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>F.A.Q</h1>

      <div class="panel-group" id="accordion-aesthetic-faq" role="tablist">

        <div class="panel panel-default">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-aesthetic-faq" data-target="#collapse-aesthetic-faq-4">
            <div class="panel-heading" role="tab">
              <h4 class="panel-title">
                <i class="fa fa-chevron-circle-down"></i> Am I a good candidate for plastic surgery?
              </h4>
            </div>
          </a>
          <div id="collapse-aesthetic-faq-4" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
              <p>Individuals in good general health are typically good candidates for cosmetic surgery. It is very important for prospective patients to have realistic expectations for their surgery results. During your consultation with your
                plastic surgeon, it is important to openly discuss your previous medical history, plastic surgery goals and any concerns you have so that your surgeon can make an informed and realistic assessment about your candidacy for cosmetic
                surgery.

              </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-aesthetic-faq" data-target="#collapse-aesthetic-faq-1">
            <div class="panel-heading" role="tab">
              <h4 class="panel-title">
                <i class="fa fa-chevron-circle-down"></i> What is the right age for plastic surgery?
              </h4>
            </div>
          </a>
          <div id="collapse-aesthetic-faq-1" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
              <p>There’s no hard and fast rule as to the right age for plastic surgery. Dr Tetik’s clinic evaluates each cosmetic surgery patient on a case-by-case basis. During a consultation, your surgeon will take into account individual factors,
                such as your unique body type, size and age.
              </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-aesthetic-faq" data-target="#collapse-aesthetic-faq-2">
            <div class="panel-heading" role="tab">
              <h4 class="panel-title">
                <i class="fa fa-chevron-circle-down"></i> What is the difference between cosmetic and reconstructive surgery?
              </h4>
            </div>
          </a>
          <div id="collapse-aesthetic-faq-2" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
              <p>
                Cosmetic surgery is performed to reshape normal structures of the body in order to improve appearance and self-esteem. Cosmetic surgery is usually not covered by health insurance because it is elective.
                <br><br>
                Reconstructive surgery is performed on abnormal structures of the body caused by congenital defects, developmental abnormalities, trauma, infection, tumors or disease. In general, reconstructive surgery is performed to improve
                function, but may also be completed to approximate a normal appearance.
                <br><br>
                Reconstructive surgery is typically covered by most health insurance policies, although coverage for specific procedures and levels of coverage may vary greatly.
              </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-aesthetic-faq" data-target="#collapse-aesthetic-faq-3">
            <div class="panel-heading" role="tab">
              <h4 class="panel-title">
                <i class="fa fa-chevron-circle-down"></i> How long will my results last?
              </h4>
            </div>
          </a>
          <div id="collapse-aesthetic-faq-3" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
              <p>
                Body and facial contouring procedures are designed to permanently reshape and aesthetically enhance your natural structure. Examples include rhinoplasty, chin augmentation, breast enhancement, and breast reduction.
                <br><br>
                Many of the facial rejuvenation procedures offered at The Dr. Tetik’s clinic , including facelift, neck lift, forehead lift, and blepharoplasty (eyelid surgery), typically offer results that can last years. You will always have the
                benefits of the surgery; however, you will go on aging, and at some point you may want to refresh your appearance again.
              </p>
            </div>
          </div>
        </div>


        <div class="panel panel-default">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-aesthetic-faq" data-target="#collapse-aesthetic-faq-5">
            <div class="panel-heading" role="tab">
              <h4 class="panel-title">
                <i class="fa fa-chevron-circle-down"></i> When can I resume normal activities?
              </h4>
            </div>
          </a>
          <div id="collapse-aesthetic-faq-5" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
              <p>
                It’s important to note that everyone heals at a different rate. In addition to your unique anatomy, the length of recovery will depend upon the type and number of procedures you receive. Generally speaking, patients often are able to
                return to regular daily activities in approximately one to two weeks. Strenuous activities, however, should be avoided for at least one month, unless Dr. Tetik states otherwise.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
