<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>BEARD CULTIVATION WITH IMPLANTER PEN</h1>
      <br><br>
      <div class="col-sm-6">
      <p>
      The FUE method is performed by inserting the grafts one by one into the needles (0.6mm, 0.8mm) which are called very thin implanter and angle with the help of these needles. Depending on the request of the patient and the recommendations of the doctor, it will take 2-4 hours to transport the beard to the desired areas. This technique does not use scalpel or scalpel. In the area to be planted, no more trenching is done, and more natural results are obtained as it enables the planting in the same direction and angle with the directions of the existing beards and allows for frequent cultivation.</p></div>
      <div class="col-sm-6">
      <img src="img/hair/beard-cultivation.jpg" class="center-block img-responsive" alt="Beard Cultivation">
    </div>
    </div>
  </div>
</div>
