<div class="container">
  <div class="row">
    <div class="col-sm-12">

          <img src="img/aesthetic/botox.jpg" class="center-block img-responsive" alt="Botox">
    </div>
    <div class="col-sm-12">
      <h1>BOTOX</h1>
      <p>
        Botox application is the most preferred method of beauty methods in recent years. Botox; Clostridium is an application that is obtained from bacteria called botulinum and does not cause any allergen effect on human tissue. Botox, which
        causes nerve dysfunction in nerve-related organs, is an application that is frequently preferred by older women and men especially for older and vigorous facial structures. This is a long-lasting process that improves even deeper wrinkles on
        the skin. Botox application by injection with a specially designed very fine needle; it can be performed without any anesthesia procedure. The substance injected into the subcutaneous or muscles for the needs of the site of administration;
        In time, it is an effective method to prevent perspiration and rejuvenation by shaping the facial contours.
      </p>
      <h2>What Is The Botoxic Treatment Period?</h2>
      <p>
        The duration of application of botox treatment varies from 10 to 15 minutes, although it varies for each region. After administration, the clostridium botulinum material injected for approximately 2 weeks starts to dissolve and takes its
        full form. The effect of botox reaches up to 9 months.
      </p>
      <h2>What Is Faci̇al Filling Application?</h2>
      <p>
        Filling application is an aesthetic and plastic surgery application which is carried out in order to collect deformations in the face and neck area as a sign of old age and the volume losses, sags, wrinkles and lines experienced by the skin.
        It is a frequently used method that can provide positive effects without any surgical intervention when aesthetic demands such as shaping and filling of the lips are not desired by the patients. In order to make the patient look younger and
        healthier in filling application, especially the temples, cheekbone, the lines around the nose and mouth, and the repetitive lines, which are often repeated, are filled with the use of various filling materials. The image, which the majority
        of patients desire to achieve from an aesthetic point of view, is to achieve a rejuvenation that is not understood as kendi intervening externally ile with a ‘natural’ proportional adaptation with their own faces.
      </p>
      <h2>What Is The Improvement Process After The Filling Application?</h2>
      <p>
        Since the application of filler is a method that does not require surgical intervention, it can be performed in a short time and there is no need for a serious recovery process which requires recovery of the patient. The patient is able to
        return immediately to the social life after filling. It is normal to have very slight swelling and redness in the application areas after application and these effects pass within 1 - 2 days parallel to the healing process. The effects of
        the application occur immediately after the application is completed and remain clear for 6 to 10 months. The filling material can be re-applied to the body when its desired effect is reduced or eliminated.
      </p>
    </div>
  </div>
</div>
