<div class="container">
  <div class="row">
    <h1>BREAST AUGMENTATION</h1>
  <div class="col-sm-12">
    <img src="img/aesthetic/breast-augmentation.jpg" class="center-block img-responsive" alt="Breast Augmentation">
  </div>
    <div class="col-sm-12">
      <p> Breast augmentation, sometimes referred to as a "breast aug" or "boob job" by patients, involves using breast implants or fat transfer to increase the size of your breasts. This procedure can also restore breast volume lost after weight
        reduction or pregnancy, achieve a more rounded breast shape or improve natural breast size asymmetry.
      </p>
      <h2>What breast augmentation surgery can do</h2>
      <ul>
        <li>Increase fullness and projection of your breasts</li>
        <li>Improve balance of breast and hip contours</li>
        <li>Enhance your self-image and self-confidence</li>
      </ul>
      <p>Breast implants may also be used for breast reconstruction after mastectomy or injury.</p>
      <h3>What breast augmentation surgery can't do</h3>
      <p>Breast augmentation does not correct severely drooping breasts. A breast lift may be required along with a breast augmentation for sagging breasts to look fuller and lifted.
        Breast lifting can often be done at the same time as your augmentation or may require a separate operation. Your plastic surgeon will assist you in making this decision.</p>
    </div>
  </div>
</div>
