<div class="container">
  <div class="row">
      <h1>BREAST LIFTING</h1>
    <div class="col-sm-12">
      <img src="img/aesthetic/breast-lifting.jpg" class="center-block img-responsive" alt="Breast Lifting">
    </div>
    <div class="col-sm-12">
      <p>
        A breast lift — also known as mastopexy — is a surgical procedure performed by a plastic surgeon to change the shape of your breasts. During a breast lift, excess skin is removed and breast tissue is reshaped to raise the breasts.

      </p>
      <p>
        A breast lift won't significantly change the size of your breasts. However, a breast lift can be done in combination with breast augmentation or breast reduction.

      </p>
      <h2>Why it is done?</h2>

      <p>You might consider a breast lift if:</p>
      <ul>
        <li>Your breasts sag — they've lost shape and volume, or they've gotten flatter and longer</li>
        <li>Your nipples — when your breasts are unsupported — fall below your breast creases</li>
        <li>Your nipples and areolae point downward</li>
        <li>Your areolae have stretched out of proportion to your breasts</li>
        <li>One of your breasts falls lower than the other</li>
      </ul>
      <p>A breast lift isn't for everyone. If you're considering pregnancy at any point in the future, you might delay getting a breast lift. During pregnancy your breasts could stretch and offset the results of the lift.
      </p>
    </div>
  </div>
</div>
