<div class="container">
  <div class="row">
    <h1>BREAST REDUCTION</h1>
    <div class="col-sm-6">
          <img src="img/aesthetic/breast-reduction.jpg" class="center-block img-responsive" alt="Breast Reduction">
    </div>
    <div class="col-sm-6">
      <p>
        Breast reduction surgery (reduction mammoplasty) removes some of the tissue and skin from the breasts to reshape and reduce the size of the breasts. It can also make the area of dark skin surrounding the nipple (areola) smaller.
        <br><br>To remove tissue and skin from the breast, the surgeon first makes one or more cuts in the breast. After the excess tissue and skin have been removed, the skin is closed with stitches. Sometimes the nipple and areola have to be
        removed and repositioned.
        <br><br>Sometimes liposuction is used along with surgery. If most of the breast is fatty tissue and if excess skin isn't a problem, liposuction alone may be enough for breast reduction.
        <br><br>Breast reduction surgery is done in a hospital or surgical centre, typically with general anesthesia. The surgery usually takes 3 to 5 hours. An overnight stay is not usually required. For smaller reductions, the surgery may be done
        with local anesthesia.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>
        Women who have breast reduction surgery are often extremely satisfied. It can make the breasts smaller, firmer, lighter, and more evenly proportioned. It usually relieves the physical discomfort and pain caused by large breasts.
        <br><br>The results of breast reduction surgery are considered permanent. But the breasts may become larger or their shape may change as a result of pregnancy, weight gain, or weight loss.
      </p>

      <h2>Why It Is Done</h2>
      <p>Breast reduction surgery is done to change the size, weight, firmness, and shape of the breasts. You may decide to have breast reduction surgery to:
      </p>
      <ul>
        <li>Feel more comfortable. Large, heavy breasts can cause back and neck pain, skin irritation, and posture problems. The constant pull of heavy breasts may make bra straps leave painful indentations in a woman's shoulders. Breast reduction
          surgery can eliminate these problems in most cases.</li>
        <li>Reduce the limitations that large, heavy breasts place on participation in sports or other activities. Some physical activities may be painful or awkward for women who have large breasts.</li>
        <li>Alter your appearance. Large breasts, especially when they are out of proportion to your height and weight, can be embarrassing. Teenagers and young women with large breasts may especially feel self-conscious wearing swimsuits and other
          types of clothing due to unwelcome attention to large breasts. It also may be hard to find clothes that fit well.</li>
      </ul>
    </div>
  </div>
</div>
