<div class="container">
  <div class="row">
    <h1>BREAST REDUCTION FOR MEN</h1>
    <div class="col-sm-6">
      <img src="img/aesthetic/breast-reduction-men.png" class="center-block img-responsive" alt="Breast Reduction Men">
    </div>
    <div class="col-sm-6">
      <p>
        A male breast reduction is the most effective known treatment for gynecomastia, or enlarged male breasts. This cosmetic surgery procedure removes excess fat and glandular tissue to restore a flatter, firmer and more masculine contour to the
        chest.
        <br><br>Due to genetics, use of certain medications, or other unspecified reasons, some men develop the appearance of enlarged breasts. It is estimated that up to 50% of men in the United States experience some degree of gynecomastia during
        their lifetime. Gynecomastia can present at any age, and male breast reduction can be performed safely and successfully on teenagers and adult men alike.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>Why have a male breast reduction?</h2>
      <p>
        While losing weight can help reduce the appearance of male breasts for some men, often times there is excess glandular tissue as well, causing even very lean patients to notice enlarged breasts. Currently, male breast reduction is the only
        consistently effective treatment for gynecomastia that has long lasting, if not permanent, results. Following this surgery, patients commonly say they feel comfortable going shirtless for the first time in years, and report an enhanced sense
        of self-confidence.
        <br><br>If you are uncomfortable or self-conscious about the appearance of your chest, or if you find yourself avoiding certain activities because you are afraid to show your chest, male breast reduction is an option to consider. With the
        help of a qualified cosmetic surgeon, the procedure offers dramatic, near immediate improvements with minimal scarring.
      </p>
      <h2>Things to consider before breast reduction surgery</h2>
      <p>Some important issues to keep in mind include:</p>
      <ul>
        <li>Any surgical treatment to correct gynaecomastia will require incisions (cuts). While most incisions are hidden in natural contours or in the areolae of the breasts, some scars may be visible and these are an unavoidable result of any
          breast reduction surgery.</li>
        <li>If gynaecomastia has resulted from the use of certain prescription medications or drugs, including steroids or from weight gain, you must be fully free of these substances and remain at a stable weight in order to maintain the results of
          your surgery.</li>
        <li>Think about the financial cost. Breast reduction surgery to treat gynaecomastia may be partially covered by Medicare and private health insurance. Ask your surgeon for further information about out-of-pocket costs.</li>
        <li>Smokers are at increased risk of complications. If you are serious about undergoing cosmetic surgery, you should try to quit smoking.</li>
      </ul>
    </div>
  </div>
</div>
