<div class="container">
  <div class="row">
    <h1>CHIN AESTHETICS</h1>
    <div class="col-sm-6">
      <p>
        Genioplasty, the alteration of the chin through either osseous manipulation or implant augmentation, is an integral component of aesthetic surgery of the face. When performed with proper preoperative assessment and technical execution, the results can harmonize and restore balance between skeletal, soft tissue, and dental components of the lower face. To this end, proper understanding of the underlying anatomy and the changes associated with movement of the chin, alone or in conjunction with formal orthognathic surgery, is paramount.
        </p>
    </div>
    <div class="col-sm-6">
        <img src="img/aesthetic/chin.jpg" class="center-block img-responsive" alt="chin">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>
        Surgical technique for genioplasty falls into two broad categories: osseous genioplasty and alloplastic augmentation. Generally, most surgeons are more comfortable inserting an implant rather than performing osteotomies. With proper patient and implant selection, implant augmentation achieves desirable results and is easy to execute.However, osseous genioplasty, contrary to some surgeons' beliefs, is not a difficult procedure to perform; moreover, it is a highly versatile procedure that can allow movement in all dimensions. It can ameliorate conditions that an implant cannot, such as a chin that is too long, too short, or asymmetric. In addition, patients who have had one or more failures of an alloplastic chin implant are perhaps best treated by an osseous genioplasty.
      </p>
    </div>
  </div>
</div>
