<div class="container-fluid">
  <div class="row text-center">
    <div class="col-sm-5">
      <img src="img/contactAesthetic.jpg" class="img-responsive center-block" alt="Relife Medical Care Clinic">
    </div>
      <div class="col-sm-2">
        <br><br>
          <i class="icon fa fa-phone color1" style="font-size: 4em;"></i>
          <br>
          +44 0121 443 13 76
          <br><br>
          <i class="icon fa fa-whatsapp color1" style="font-size: 4em;"></i>
          <br>
          +90 554 745 57 35
          <br><br>
          <i class="icon fa fa-envelope color1" style="font-size: 4em;"></i>
          <br>
          info@relifemedical.co.uk
      </div>
    <div class="col-sm-5">
        <img src="img/contactHair.jpg" class="img-responsive center-block" alt="Relife Medical Care Clinic">
    </div>
  </div>
  <div class="row text-center">
  </div>
</div>
