<div class="container">
  <div class="row">
    <h1>EYE LID SURGERY</h1>
    <div class="col-sm-6">
      <img src="img/aesthetic/eyelid.jpg" class="center-block img-responsive" alt="eyelid">
    </div>
    <div class="col-sm-6">
      <p> Eyelid surgery, or blepharoplasty, is a surgical procedure to improve the appearance of the eyelids.
        <br><br>Surgery can be performed on the upper lids, lower lids or both.
        <br><br>Whether you want to improve your appearance or are experiencing functional problems with your eyelids, eyelid surgery can rejuvenate the area surrounding your eyes.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>What eyelid surgery can treat</h2>
      <ul>
        <li>Loose or sagging skin that creates folds or disturbs the natural contour of the upper eyelid, sometimes impairing vision</li>
        <li>Fatty deposits that appear as puffiness in the eyelids</li>
        <li>Bags under the eyes</li>
        <li>Drooping lower eyelids that reveal white below the iris</li>
        <li>Excess skin and fine wrinkles of the lower eyelid</li>
      </ul>
    </div>
  </div>
</div>
