<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>EYEBROW LIFT</h1>

          <img src="img/aesthetic/eyebrow.jpg" class="center-block img-responsive" alt="eyebrow">
      <p> A brow lift, also known as a forehead lift:</p>
      <ul>
        <li>Reduces the wrinkle lines that develop horizontally across the forehead, as well as those that occur on the bridge of the nose, between the eyes</li>
        <li>Improves frown lines, the vertical creases that develop between the eyebrows</li>
        <li>Raises sagging brows that are hooding the upper eyelids</li>
        <li>Places the eyebrows in an alert and youthful position</li>
      </ul>
      <p>
        You will probably have swelling and bruising, that can affect parts of your face that wasn't operated on, including your cheeks and eyes. The swelling should be gone in about a week. For at least two days after the surgery, you should keep
        your head elevated to help ease the swelling, and you can gently apply ice packs to the affected region.
      </p>
    </div>
  </div>
</div>
