<div class="container">
  <div class="row">
    <h1>FACE LIFTING</h1>
    <div class="col-sm-6">
      <p>
        A face-lift (rhytidectomy) is a cosmetic surgical procedure to create a younger appearance in your face. The procedure can reduce the sagging or folds of skin on the cheeks and jawline and other changes in the shape of your face that occur
        with age.
        During a face-lift, a flap of skin on each side of the face is pulled back, and tissues below the skin are surgically altered to return the contour of the face to a more youthful shape. Before the flap is sutured closed, excess skin is
        removed.
      </p>
    </div>
    <div class="col-sm-6">
        <img src="img/aesthetic/face-lifting.jpg" class="center-block img-responsive" alt="Face Lifting">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>Why it's done?</h2>
      <p>As you get older, the appearance and shape of your face is altered because of normal age-related changes. Your skin becomes less elastic and looser, and fat deposits decrease in some areas of your face and increase in others.
      </p>
      <h2>What you can expect</h2>
      <p>A face-lift can be done in a hospital or an outpatient surgical facility. Sometimes the procedure is done with sedation and local anesthesia, which numbs only part of your body. In other cases, general anesthesia is recommended.
      </p>
      <h2>During the procedure</h2>
      <p>
        In general, a face-lift involves elevating the skin and tightening the underlying tissues and muscles. Fat in the face and neck may be sculpted, removed or redistributed. Facial skin is then re-draped over the newly repositioned contours of
        the face, excess skin is removed, and the wound is stitched or taped closed.
        <br><br>A face-lift generally takes two to four hours but might take longer if other cosmetic procedures are done at the same time.</p>
    </div>
  </div>
</div>
