<div class="container">
  <div class="row">
    <h1>GENITAL SURGERY</h1>
    <div class="col-sm-6">
      <p>
        Genital aesthetic applications, such as internal and external lip deformities caused by the congenital structure of the genital area or often due to birth and aging, correcting the sagging ('labioplasty' in the medicine) and narrowing vaginally larger vaginas than normal (such as 'vaginoplasty') aesthetic and plastic surgery operations carried out for purposes. In cases where the patients do not find the changing genital area due to the effects of time from time to time, the aesthetic approach can be applied to medical aesthetic solutions which may have positive effects without requiring surgical intervention. In cases where the medical aesthetic solutions do not provide the desired results and are inadequate to show the expected effects, aesthetic surgery applications can be shown to intervene in the structure of the genital area.
      </p>
    </div>
    <div class="col-sm-6">
        <img src="img/aesthetic/genital.jpg" class="center-block img-responsive" alt="genital surgery">
    </div>
  </div>
</div>
