<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>HAIR TIGHTENING</h1><br><br>
      <p>In the early stage of Hair Loss, the scalp becomes visible due to spills, which disturbs many people. In these areas, it takes a long time to completely losing hair and become completely balding. Patients who want to look better during this
        period usually choose constriction hair transplantation. Tightening The existing hair is not damaged during transplantation.
      </p>
      <br>
      <img src="img/hair/hair-tightening.jpg" class="center-block img-responsive" alt="Hair Tightening">
    </div>
  </div>
</div>
