<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>HAIR FROM BEARD</h1>
      <p>
        Part of the body hair is high enough to be transplanted, body hairs can be a serious solution for people with insufficient donor area.
        <br><br>
        According to the priority order, the nape, beard and chest areas are suitable for hair removal. The best quality of the body hair outside the nape and the most common beard hair, the second place is used in hair hair transplantation.
        <br><br>
        Other than these, the back hair, armpit hair or skirt hair is difficult to use because it is not used.
        <br><br>
        The hair, which is taken from the beard and sown in the hair, grows like hair without any extension.
      </p>
    </div>
  </div>
</div>
