<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Hair Transplantation</h2>
      <p>
        Hair transplantation is a surgical technique that removes hair follicles from one part of the body, called the 'donor site', to a bald or balding part of the body known as the 'recipient site'. The technique is primarily used to treat male
        pattern baldness. In this minimally invasive procedure, grafts containing hair follicles that are genetically resistant to balding (like the back of the head) are transplanted to the bald scalp. Hair transplantation can also be used to
        restore eyelashes, eyebrows, beard hair, chest hair, pubic hair and to fill in scars caused by accidents or surgery such as face-lifts and previous hair transplants. Hair transplantation differs from skin grafting in that grafts contain
        almost all of the epidermis and dermis surrounding the hair follicle, and many tiny grafts are transplanted rather than a single strip of skin.
        <br><br>
        Since hair naturally grows in groupings of 1 to 4 hairs, current techniques harvest and transplant hair "follicular units" in their natural groupings. Thus modern hair transplantation can achieve a natural appearance by mimicking original
        hair orientation. This hair transplant procedure is called follicular unit transplantation (FUT). Donor hair can be harvested in two different ways: strip harvesting, and follicular unit extraction (FUE).
      </p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <h1>Before - After</h1>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div id="carouselHair" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carouselHair" data-slide-to="0" class="active"></li>
          <li data-target="#carouselHair" data-slide-to="1"></li>
          <li data-target="#carouselHair" data-slide-to="2"></li>
          <li data-target="#carouselHair" data-slide-to="3"></li>
          <li data-target="#carouselHair" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img class="img-responsive center-block" src="img/hair/before-after/1.jpg" alt="Beard cultivation before after photo">
          </div>
          <div class="item">
            <img class="img-responsive center-block" src="img/hair/before-after/2.jpg" alt="Hair transplantation before after photo">
          </div>
          <div class="item">
            <img class="img-responsive center-block" src="img/hair/before-after/3.jpg" alt="Hair transplantation before after photo">
          </div>
          <div class="item">
            <img class="img-responsive center-block" src="img/hair/before-after/4.jpg" alt="Hair transplantation before after photo">
          </div>
          <div class="item">
            <img class="img-responsive center-block" src="img/hair/before-after/5.jpg" alt="Beard cultivation before after photo">
          </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" data-target="#carouselHair" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" data-target="#carouselHair" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img class="img-responsive center-block" src="img/hair/topal.jpg" alt="Specialist Dr. Topal">
    </div>
    <div class="col-sm-8">
      <h2>Specialist Dr. Topal</h2>
      <p>
        Specialist Dr. Topal was born in Kocaeli Gölcük in 1981. Right after pre-ungergraduation education, he graduated successfully from Gülhane Military Medicine Academy in 2005 and received the title ‘medical dr’. He completed his
        undergradaute education at Gülhane Military Medicine Academy again and became a dermatologist in 2014. After having completed the compulsory east mission at Van Military Hospital between 2014-2016. He started working at Çanakkale Military
        Hospital between 2016-2017. He now works as a dermatologist at Kemer, Antalya.
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>What is DHI?</h2>
      <p>It is a new hair transplant technique performing by using a special tool called “Choi implanter” it looks like a pen so we can call it “Choi pen”. The grafts which extract through DHI are directly implant to the recipient area.
        <br><br>
        This new technology assurance you the natural hair line from the front side of your head. Also it can give you a thick hair apparence.
      </p>
    </div>
    <div class="col-sm-6">
      <img class="img-responsive center-block" src="img/hair/topal2.jpg" alt="Specialist Dr. Topal">
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="row">
    <h3>Facts about DHI Technique</h3>
    <div class="col-sm-8 col-sm-offset-2">
      <li>Getting a high rate of viable healthy follicles.</li>
      <li>Decreasing the bleeding during creating the recipient area.</li>
      <li>Decreasing the risk of an infection.</li>
      <li>Reducing trauma during follicles transfer, and causing less damage in the blood supply to the implanted area.</li>
      <li>Faster recovery after the hair transplant procedure.</li>
      <li>Reducing time of procedure (with a medical team experienced in Choi implanter pens technique) as creating the incisions and implanting the follicles are combined in one step.</li>
      <li>The doctors and medical team should undergo a longer training period to master working using this technique.</li>
      <li>The medical team should consist of six persons at least for each procedure.</li>
      <li>The procedure may take longer time if the team was unfamiliar with this method.</li>
      <li>The cost of the procedure is generally more than that of conventional extraction method due to the cost of Choi implanter pens.</li>
      <li>This procedure requires more accuracy and attention during the procedure.</li>
      <li>Choi pen transplant technique is suitable to all patients and also for those who got a bleeding problems and weren’t before be able to impant their hair with FUE because of the bleeding.</li>
      <li>Also for those people who have a weak donor area and couldn’t do the transplant before.</li>
      <li>Patients who don’t like to do hair transplant because they don’t want to get their hair cut so this technique allow doctors to do the surgery without shaving the hair.</li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row bg2">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="text-white"><i class="fa fa-book"></i> Get a reservation now</h1>
      <br>
      <a href="#!/contact" class="btn btn-lg btn-primary center-block"><i class="fa fa-hand-o-right"></i> Contact Us</a><br>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 text-center">
      <h1>Our Prices</h1>
      <div class="priceBoxWrapper col-md-4">
        <div class="priceBox">
          <h4>Small<br>Package</h4>
          <hr>
          <span class="price">2200€</span>
          <br>/ up to 2000 grafts
        </div>
      </div>
      <div class="priceBoxWrapper col-md-4">
        <div class="priceBox">
          <h4>Big<br>Package</h4>
          <hr>
          <span class="price">2500€</span>
          <br>/ up to 3500 grafts
        </div>
      </div>
      <div class="priceBoxWrapper col-md-4">
        <div class="priceBox">
          <h4>Beard<br>Transplantation</h4>
          <hr>
          <a href="#!/contact" class="btn btn-lg btn-block btn-primary"><i class="fa fa-hand-o-right"></i> Enquire</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>Always Included in Cost:</h3>
      <ul class="included">
        <li>
          <i class="fa fa-hotel"></i><br><br>
          Free
          <br>Accomodation</li>
        <li>
          <i class="fa fa-stethoscope"></i><br><br>
          Medical
          <br>Expenses</li>
        <li>
          <i class="fa fa-cab"></i><br><br>
          Local
          <br>Transfers</li>
        <li>
          <i class="fa fa-medkit"></i><br><br>
          Hair Care
          <br>Set</li>
        <li>
          <i class="fa fa-clock-o"></i><br><br>
          24/7
          <br>Care</li>
        <li>
          <i class="fa fa-plus"></i><br><br>
          After
          <br>Care</li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>F.A.Q</h1>
      <div class="panel-group" id="accordion-hair-faq" role="tablist">

        <div class="panel panel-default">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-hair-faq" data-target="#collapse-hair-faq-1">
            <div class="panel-heading" role="tab">
              <h4 class="panel-title">
                <i class="fa fa-chevron-circle-down"></i> How can I make an appointment?
              </h4>
            </div>
          </a>
          <div id="collapse-hair-faq-1" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
              <p>
                After you reach us, our consultants will contact you with information regarding the possible extent of the procedure and the corresponding price.
                <br><br>
                In order to reserve a day for your transplant, you will need to buy a plane ticket and send us your electronic ticket information, including your full name, your booking reference, flight numbers and your arrival times.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-hair-faq" data-target="#collapse-hair-faq-2">
            <div class="panel-heading" role="tab">
              <h4 class="panel-title">
                <i class="fa fa-chevron-circle-down"></i> How long does a hair transplant take?
              </h4>
            </div>
          </a>
          <div id="collapse-hair-faq-2" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
              <p>Hair transplantation procedure at our clinic is done over the course of a single day; however we recommend that you stay at the clinic for another 2 nights after the procedure to prevent from possible infections and facilitate a
                faster
                and successful healing process. This stay is included in your price.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-hair-faq" data-target="#collapse-hair-faq-3">
            <div class="panel-heading" role="tab">
              <h4 class="panel-title">
                <i class="fa fa-chevron-circle-down"></i> What is included in the price?
              </h4>
            </div>
          </a>
          <div id="collapse-hair-faq-3" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
              <p>Our policy is to provide you with everything you will need during your stay. The price includes airport pick-up and transfers, 1-3 nights in a private patient suite (with TV, WiFi internet, own bathroom and 3 meals a day), all
                medication,
                as well as a small set of hair care products, advisable headwear and a specialised pillow to be used during the first couple of days after your transplant.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-hair-faq" data-target="#collapse-hair-faq-4">
            <div class="panel-heading" role="tab">
              <h4 class="panel-title">
                <i class="fa fa-chevron-circle-down"></i> How long do the transplanted hair stay?
              </h4>
            </div>
          </a>
          <div id="collapse-hair-faq-4" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
              <p>Transplanted grafts are unaffected by the balding processes in the recipient areas. Under ideal conditions, transplanted hairs stays with you for the rest of your life.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-hair-faq" data-target="#collapse-hair-faq-5">
            <div class="panel-heading" role="tab">
              <h4 class="panel-title">
                <i class="fa fa-chevron-circle-down"></i> Do I need to book my procedure in advance?
              </h4>
            </div>
          </a>
          <div id="collapse-hair-faq-5" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
              <p>Yes. Currently we have a waiting time of 3-4 weeks. In rare cases we can accept patients on shorter notice. As a general rule, we do not accept walk-ins without a reservation.
                <br><br>
                Are you planning to visit Antalyta during you holidays? Don't forget to contact us at least 2-3 weeks before you arrive to book a consultation with our specialist.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-hair-faq" data-target="#collapse-hair-faq-6">
            <div class="panel-heading" role="tab">
              <h4 class="panel-title">
                <i class="fa fa-chevron-circle-down"></i> Can I combine my holiday with hair transplantation?
              </h4>
            </div>
          </a>
          <div id="collapse-hair-faq-6" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
              <p>Many of our patients visit Antalya for holidays and get a hair transplatation procedure done during this period. If you are coming to Antalya for holidays, don't forget to contact our consultatants a few weeks before to arrange your
                visit.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-hair-faq" data-target="#collapse-hair-faq-7">
            <div class="panel-heading" role="tab">
              <h4 class="panel-title">
                <i class="fa fa-chevron-circle-down"></i> What is DHI?
              </h4>
            </div>
          </a>
          <div id="collapse-hair-faq-7" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
              <p>It is a new hair transplant technique performing by using a special tool called “Choi implanter” it looks like a pen so we can call it “Choi pen”. The grafts which extract through DHI are directly implant to the recipient area.
                <br><br>
                This new technology assurance you the natural hair line from the front side of your head. Also it can give you a thick hair apparence.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
