<div class="container-fluid">
  <div class="row">
    <div class="introWrapper">
      <!-- <img class="introVideo" src="img/antalya.jpg" alt="Antalya Nature"> -->
      <!-- <iframe width="100%" height="100%" class="introVideo hidden-xs" src="https://www.youtube.com/embed/T-UEfYsyzuo?playlist=T-UEfYsyzuo&autoplay=1&mute=1&loop=1&controls=0&disablekb=1&showinfo=0&modestbranding=1&rel=0"></iframe> -->
      <div class="introLogoWrapper">
        <div>
          <img class="img-responsive center-block" src="img/logo2.png" alt="Relife Medical Care logo">
          <h2>Fresh Look Forever</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h1>Who we are?</h1>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p class="lead text-justify">
        We started our journey in 2016 to meet the demands of our environment. Doctors and medical conditions awereness in this direction has greatly increased. Our office based in England, where we live. We provided service to the hundreds of
        patients in our field with our specialist doctors in the field of hair transplantation and plastic surgery. We offer a flawless operation with a peaceful way of holiday in the unique nature of Antalya.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row row-no-padding">
    <div class="col-sm-6 halfContent">
      <a href="#!/aesthetical-operations">
        <img src="img/asthetic.jpg" alt="asthetic">
        <h1>Aesthetical Operations</h1>
      </a>
    </div>
    <div class="col-sm-6 halfContent">
      <a href="#!/hair-transplantation">
        <img src="img/hair-plantation.jpg" alt="hair-plantation">
        <h1>Hair Transplantation</h1>
      </a>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row bg2">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="text-white"><i class="fa fa-book"></i> Get a reservation now</h1>
      <br>
      <a href="#!/contact" class="btn btn-lg btn-primary center-block"><i class="fa fa-hand-o-right"></i> Contact Us</a><br>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h1>Some of Our Services</h1>
  </div>
  <div class="row servicesHome">
    <div class="col-sm-4">
      <i class="icon fa fa-female color1"></i>
      <br>
      <h3>Breast Augmentation</h3>
      <hr>
      <p>Breast aug involves using breast implants or fat transfer to increase the size of your breasts. This procedure can also restore breast volume lost after weight reduction or pregnancy, achieve a more rounded breast shape or improve natural
        breast size asymmetry.</p>
      <a href="#!/breast-augmentation" class="btn btn-lg btn-block btn-primary"><i class="fa fa-hand-o-right"></i> More</a>
    </div>
    <div class="col-sm-4">
      <i class="icon fa fa-random color1"></i>
      <br>
      <h3>Hair Transplantation</h3>
      <hr>
      <p>Hair transplantation is a surgical technique that removes hair follicles from one part of the body, called the 'donor site', to a bald or balding part of the body known as the 'recipient site'. The technique is primarily used to treat male
        pattern baldness...</p>
      <a href="#!/hair-transplantation" class="btn btn-lg btn-block btn-primary"><i class="fa fa-hand-o-right"></i> More</a>
    </div>
    <div class="col-sm-4">
      <i class="icon fa fa-flash color1"></i>
      <br>
      <h3>Thulium Laser</h3>
      <hr>
      <p>Treatment of blotches and cracks, hormonal, environmental and metabolic causes of the skin due to the color of the melanin pigment in some areas of the accumulation of stains on the skin and pregnancy, adolescence, such as sudden changes in
        the body...</p>
      <a href="#!/thulium-laser" class="btn btn-lg btn-block btn-primary"><i class="fa fa-hand-o-right"></i> More</a>
    </div>
  </div>
</div>
