<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>IMPLANTER PEN METHOD EYEBROW TREATMENT</h1>
      <br><br>
      <div class="col-sm-6">
        <img src="img/hair/eyebrow.jpg" class="center-block img-responsive" alt="Eyebrow Treatment">
      </div>
      <div class="col-sm-6">
        <p>The FUE method is performed by inserting the grafts one by one into the needles (0.6mm, 0.8mm) which are called very thin implanter and angle with the help of these needles. Depending on the patient's request and the recommendations of
          the Doctor, 100-400 single hair follicles are placed in each eyebrow in a process that will take 2-4 hours. This technique does not use scalpel or scalpel. No grooving in the area to be planted No more natural results due to the fact that
          it provides hair transplantation in the same direction and angle with the directions of the existing eyebrows and allows frequent cultivation.
        </p>
      </div>
    </div>
  </div>
</div>
