<div class="container">
  <div class="row">
    <h1>LIP AESTHETICS</h1>
    <div class="col-sm-12">
      <img src="img/aesthetic/lip.jpg" class="center-block img-responsive" alt="lip">
      <p> Fuller lips are a desirable and attractive feature and a sign of youth. As with all facial features, lips also gradually suffer loss of contour and volume, but with lip augmentation and enhancement treatments we can reverse these effects.
        Our treatments to shape your smile and to restore volume and achieve beautiful, fresh and fuller lips are popular with a wide range of clients from different age groups.
      </p>
      <p>We can to achieve a number of improvements like:</p>
      <ul>
        <li>Softening fine lines around the mouth</li>
        <li>Restoring your smile</li>
        <li>Erasing smokers’ lines</li>
        <li>Enhancing the shape and definition of the lips</li>
        <li>Evening out unbalanced lips</li>
      </ul>
      <p>
        The treatment is carried out in an office environment; a local anaesthetic (crème) is sufficient. Patients with low pain tolerance receive an injection with a local anaesthetic. Novel dermal fillers contain a local anaesthetic which further
        simplifies the procedure. The entire session takes only 5-10 minutes.
      </p>
    </div>
  </div>
</div>
