<div class="container">
  <div class="row">
    <h1>LIPOMATIC</h1>
    <div class="col-sm-6">
      <p>
      Liposclupture means slimming, filling and reshaping specific areas of the body by removing excess fat deposits or transferring to desired areas. There are several types techniques aiming liposclupting. Recently invented Nutational Infrasonic Liposclupture (NIL) System developed for solving several problems related to prior techniques using surgical incisions to remove excess fat tissue resulting in prolonged operation time, need of general anesthesia, more tissue damage, bleeding during surgery, higher complication rate, prolonged healing period and scarring.  </p>
    </div>
    <div class="col-sm-6">
        <img src="img/aesthetic/lipomatic.jpg" class="center-block img-responsive" alt="lipomatic">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
<h2>Advantages</h2>
  <ul>
    <li>No scar</li>
    <li>Natural results</li>
    <li>No fluctuations or bumps</li>
    <li>Shorter healing period</li>
    <li>Performed under local anesthesia</li>
    <li>Simple and safe</li>
    <li>Shortened operation time</li>
  </ul>
    </div>
  </div>
</div>
