<div class="container">
  <div class="row">
    <h1>LIPOSUCTION</h1>
  <div class="col-sm-6">
      <img src="img/aesthetic/liposuction.jpg" class="center-block img-responsive" alt="liposuction">
  </div>
    <div class="col-sm-6">
      Liposuction operation is an aesthetic and plastic surgery operation performed with the removal of fats in order to reduce the fat deposits in these areas, depending on the genetic and biological characteristics and the social lifestyle. In cases where the patients are complainant and dissatisfied with aesthetically pleasing regional lubrications that cause disproportionate body structures, the orientation towards liposuction operation can be achieved in order to eliminate regional lubrication.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>
        Liposuction is a weight loss operation rather than being a regional weight loss solution. The important points in liposuction operation are the specialization of plastic and aesthetic surgery physicians, providing hygienic and appropriate operation conditions. Today, the effects of general anesthesia are minimized and the risk level is reduced. Liposuction operation can be carried out with local anesthesia without the general anesthesia, if requested by the person and depending on the area of ​​application and the amount of fat to be taken.
        <br><br>Information about the possible side effects and precautions to be taken after surgery is given by a plastic surgeon. One of the most worrisome concerns of patients after liposuction operation is that scars on the skin tissue remain after surgery. In a successful operation, it is aimed to minimize the possibility of cut marks with advanced methods. Since the incisions needed to perform the liposuction operation are opened milimetically, tissue recovery can be achieved and there are indistinct marks which are difficult to visualize after application.
      </p>
    </div>
  </div>
</div>
