<div class="container">
  <div class="row">
    <h1>NECK LIFT SURGERY</h1>
    <div class="col-sm-12">
      <p> A neck lift, or lower rhytidectomy, is a surgical procedure that improves visible signs of aging in the jawline and neck.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6"><br>
      <img src="img/aesthetic/neck-lift.jpg" class="center-block img-responsive" alt="Neck Lift surgery">
    </div>
    <div class="col-sm-6">
      <h2>What neck lift surgery can treat</h2>
      <ul>
        <li>Excess fat and skin relaxation in the lower face that creates jowls</li>
        <li>Excess fatty deposits under the chin</li>
        <li>Loose neck skin</li>
        <li>Muscle banding in the neck, which created abnormal contours</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>
        As a restorative surgery, a neck lift does not change your fundamental appearance and cannot stop the aging process.
        <br><br>A neck lift can only be performed surgically; nonsurgical rejuvenation treatments cannot achieve the same results, but may help delay the time at which a neck lift becomes appropriate and complement the results of surgery.
      </p>
    </div>
  </div>
</div>
