<div class="container">
  <div class="row">
    <h1>NEVUS</h1>
    <div class="col-sm-6">
      <img src="img/aesthetic/nevus.jpg" class="center-block img-responsive" alt="nevus">
    </div>
    <div class="col-sm-6">
      <p>Skin lesions that are caused by the appearance of melanin in the skin are called benign skin lesions. They can also be congenital, or due to the nature of ultraviolet rays. They can be light coffee, black, dark brown, red, colorless or even
        blue.</p>
    </div>
  </div>
</div>
