<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>PROMINENT EAR SURGERY</h1>
      <p>
        <br><br>Otoplasty — also known as cosmetic ear surgery — is a procedure to change the shape, position or size of the ears.
        <br><br>You might choose to have otoplasty if you're bothered by how far your ears stick out from your head. You might also consider otoplasty if your ear or ears are misshapen due to an injury or birth defect.
        <br><br>Otoplasty can be done at any age after the ears have reached their full size — usually after age 5 — through adulthood. In some cases, the surgery is done as early as age 3.
        <br><br>If a child is born with prominent ears and certain other ear-shape problems, splinting may successfully correct these issues if started immediately after birth.
      </p>

          <img src="img/aesthetic/ear.jpg" class="center-block img-responsive" alt="ear">
      <p>You might consider otoplasty if:</p>
      <ul>
        <li>Your ear or ears stick out too far from your head</li>
        <li>Your ears are large in proportion to your head</li>
        <li>You're dissatisfied with a previous ear surgery</li>
      </ul>
      <h2>What you can expect</h2>
      <h3>Before the procedure</h3>
      <p>Otoplasty can be done in a hospital or an outpatient surgical facility.
        <br><br>Sometimes the procedure is done with sedation and local anesthesia, which numbs only part of your body. In other cases, general anesthesia.</p>
      <h3>During the procedure</h3>
      <p>
        <br><br>Otoplasty techniques vary based on what kind of correction is needed. The specific technique your plastic surgeon chooses will determine the location of the incisions and the resulting scars.
        <br><br>After making incisions, your doctor might remove excess cartilage and skin. He or she will then fold the cartilage into the proper position and secure it with internal stitches. Additional stitches will be used to close the
        incisions.
        <br><br>The procedure typically takes about two hours.
      </p>
    </div>
  </div>
</div>
