<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <img src="img/aesthetic/prp.jpg" class="center-block img-responsive" alt="PRP Stem cell">
    </div>
    <div class="col-sm-6">
      <h1>PRP</h1>
      <p>
        PRP application is a medical aesthetic method which is performed in order to reduce and eliminate the signs of old age caused by the decrease of collagen and elastin activities in the person's skin by means of gravity and by providing the
        person's own restorative cells to the regions related to external intervention. PRP application is a medical aesthetic method that can provide positive effects without requiring surgical intervention in cases where patients do not want
        deformations, sagging, wrinkles and lines on their faces and they are dissatisfied with the symptoms of old age. The image, which the majority of patients desire to achieve from an aesthetic point of view, is to achieve a rejuvenation that
        is not understood as kendi intervening externally ile with a ‘natural’ proportional adaptation with their own faces. Since the PRP application is a medical aesthetic method performed by the person's own healing and regenerating cells, the
        results provide a natural rejuvenation with one's own immune mechanisms, rather than an artificial intervention effect.</p>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>
    <h1>STEM CELL</h1>
    <p>
      Stem cell is a precursor cell that has a basic function in the formation of the human body, which can be transformed into specific cells and tissues, adaptable, renewable and reproduced. In general, embryological and advanced human body are
      evaluated in two scopes. Embryologically, the stem cell derived from the embryo can be transformed into all kinds of cells, and there are ongoing research into the contributions to many different and serious health problems in the medical
      field. Stem cells, which can be obtained from advanced human body, are used in many different fields in medicine. In the field of medical aesthetics, the skin is provided with stem cells from the person's own body for skin rejuvenation and
      renewal purposes.
    </p>
    </div>
  </div>
</div>
