<div class="container">
  <div class="row">
    <div class="col-sm-6"><br><br><br>
      <img src="img/aesthetic/rhinoplasty.jpg" class="center-block img-responsive" alt="rhinoplasty">
    </div>
    <div class="col-sm-6">
      <h1>RHINOPLASTY</h1>
      <p> Rhinoplasty (RIE-no-plas-tee) is surgery that changes the shape of the nose. The motivation for rhinoplasty may be to change the appearance of the nose, improve breathing or both.
        <br><br>The upper portion of the structure of the nose is bone, and the lower portion is cartilage. Rhinoplasty can modify bone, cartilage, skin or all three. Talk with your surgeon about whether rhinoplasty is appropriate for you and what
        it can achieve.
        <br><br>When planning rhinoplasty, your surgeon will consider your other facial features, the skin on your nose and what you would like to change. If you are a candidate for surgery, your surgeon will develop a customized plan for you.
        <br><br>Sometimes part or all of a rhinoplasty is covered by insurance.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>Why it's done?</h2>
      Rhinoplasty can change the size, shape or proportions of your nose. It may be done to repair deformities from an injury, correct a birth defect or improve some breathing difficulties.

      <h2>What you can expect</h2>

      <p>Rhinoplasty requires local anesthesia with sedation or general anesthesia, depending on the complexity of the surgery and your surgeon's preferences. Discuss with your doctor beforehand which kind of anesthesia is best in your case.

        <br><br>After the surgery you need to rest in bed with your head raised higher than your chest, to reduce bleeding and swelling. Your nose may be congested because of swelling or from the splints placed inside your nose during surgery.
        <br><br>In most cases, the internal dressings remain in place for one to seven days after surgery. Your doctor also tapes a splint to your nose for protection and support. It's usually in place for about one week.
      </p>
    </div>
  </div>
</div>
