<div class="container">
  <div class="row">
    <h1>SCAR TREATMENT</h1>
    <div class="col-sm-6">
      <p>
        When we say the scar, information about the relevant factors can be obtained.
        <br><br>It is more likely to damage some areas of the body (such as the back, shoulders, chest front wall).
        <br><br>The scars also provide supply according to age, sex and races. The shape of injury, concomitant diseases, surgical behaviors, different approaches, infections, radiations, prevention methods.
      </p>
    </div>
    <div class="col-sm-6">
      <img src="img/aesthetic/scar.jpg" class="center-block img-responsive" alt="scar">
    </div>
  </div>
</div>
