<div class="container">
  <div class="row">
    <h1>TUMMY TUCK SURGERY</h1>
  <div class="col-sm-4">
      <img src="img/aesthetic/tummy.jpg" class="center-block img-responsive" alt="tummy tuck surgery">
  </div>
    <div class="col-sm-8">
      <p>
        Abdominal stretching surgery plastik abdominoplasty lan in the name of medicine, is an aesthetic and plastic surgery operation which is performed in order to recover and remove sagging and loosening in the middle and lower abdomen due to pregnancy and excessive weight gain. In cases where the patients do not want the sags in the abdomen from an aesthetic point of view and are dissatisfied, a tendency towards tummy tuck surgery can be provided for the purpose of removing regional lubrication and sagging in the abdomen.
      </p>
    </div>
  </div>
</div>
