<header class="header">

  <div class="navbar navbar-fixed-top navbar-custom" role="navigation">
    <div class="container">
      <!-- <div> -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars"></span>
      </button>
      <!-- <a class="navbar-brand" href="index.html" style="height:100px; width: 100%; text-align: center;" >
          <img class="logo-img" src="assets/images/logo.png" style="display: inline; padding: 0px;" />
        </a> -->
      <!-- </div> -->
      <div class="collapse navbar-collapse slimscroll">
        <ul class="nav navbar-nav">

          <!-- 4 level -->
          <!-- <li>
            <a href="" class="dropdown-toggle" data-toggle="dropdown">XXX</a>
            <ul class="dropdown-menu multi-level">
              <li class="dropdown-submenu">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">YYY</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">ZZZ</a>
                    <ul class="dropdown-menu level3-menu">
                      <li><a href="burclu-tip-pompa-ve-motorlar.html">TTT</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li> -->

          <!-- 2 level  -->
          <!-- <li>
            <a href="" class="dropdown-toggle" data-toggle="dropdown">XXX</a>
            <ul class="dropdown-menu">
              <li><a href="#!/">YYY</a></li>
            </ul>
          </li> -->
          <!-- 1 level -->
          <!-- <li><a href="#!/">XXX</a></li> -->


          <li><a href="#!/home">Home</a></li>
          <li>
            <a href="#!/aesthetical-operations" class="dropdown-toggle" data-toggle="dropdown">Aesthetical Operations</a>
            <ul class="dropdown-menu multi-level">
              <li class="dropdown-submenu">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">Non Surgical</a>
                <ul class="dropdown-menu">
                  <li><a href="#!/botox">Botox</a></li>
                  <li><a href="#!/prp-and-stem-cell">PRP And Stem Cell</a></li>
                  <li><a href="#!/face-lift-hifu">Face Lift Hifu</a></li>
                  <li><a href="#!/thulium-laser">Thulium Laser</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">Surgical</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Mammoplasty</a>
                    <ul class="dropdown-menu level3-menu">
                      <li><a href="#!/breast-augmentation">Breast Augmentation</a></li>
                      <li><a href="#!/breast-reduction">Breast Reduction</a></li>
                      <li><a href="#!/breast-lifting">Breast Lifting</a></li>
                      <li><a href="#!/breast-reduction-for-men">Breast Reduction In Men</a></li>
                    </ul>
                  </li>
                  <li><a href="#!/rhinoplasty">Rhinoplasty</a></li>
                  <li class="dropdown-submenu">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Face & Neck</a>
                    <ul class="dropdown-menu level3-menu">
                      <li><a href="#!/face-lifting">Face Lifting</a></li>
                      <li><a href="#!/lip-aesthetics">Lip Aesthetics</a></li>
                      <li><a href="#!/prominent-ear-surgery">Prominent Ear Surgery</a></li>
                      <li><a href="#!/chin-aesthetics">Chin Aesthetics</a></li>
                      <li><a href="#!/neck-lift-surgery">Neck Lift Surgery</a></li>
                      <li><a href="#!/eye-lid-surgery">Eye Lid Surgery</a></li>
                      <li><a href="#!/eyebrow-lift">Eyebrow Lift</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Body Aesthetics</a>
                    <ul class="dropdown-menu level3-menu">
                      <li><a href="#!/arm-lift-surgery">Arm Lift Surgery</a></li>
                      <li><a href="#!/tummy-tuck-surgery">Tummy Tuck Surgery</a></li>
                      <li><a href="#!/genital-surgery">Genital Surgery</a></li>
                      <li><a href="#!/liposuction">Liposuction</a></li>
                      <li><a href="#!/lipomatic">Lipomatic</a></li>
                      <li><a href="#!/nevus">Nevus</a></li>
                      <li><a href="#!/scar-treatment">Scar Treatment</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="#!/hair-transplantation" class="dropdown-toggle" data-toggle="dropdown">Hair Transplantation</a>
            <ul class="dropdown-menu">
              <li><a href="#!/beard-cultivation-with-implanter-pen">Beard Cultivation With Implanter Pen</a></li>
              <li><a href="#!/female-hair-transplantation-with-implanter-pen">Female Hair Transplantation With Implanter Pen</a></li>
              <li><a href="#!/implanter-pen-method-eyebrow-treatment">Implanter Pen Method Eyebrow Treatment</a></li>
              <li><a href="#!/hair-from-beard">Hair From Beard</a></li>
              <li><a href="#!/hair-tightening">Hair Tightening</a></li>
            </ul>
          </li>
          <li><a href="#!/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

</header>
