<footer>
  <h5>© 2018 Relife Medical Care</h5>
  <!-- <div class="container">
    <div class="row">
      <div class="col-sm-4">Menü</div>
      <div class="col-sm-4">Sosyal Medya</div>
      <div class="col-sm-4">İletişim</div>
    </div>
  </div> -->

  <div id='ss_menu'>
    <div> <a target="_blank" href=""><i class="fa fa-facebook-official"></i></a> </div>
    <div><a target="_blank" href=""><i class="fa fa-youtube"></i></a></div>
    <div><a target="_blank" href="https://www.instagram.com/relifemedical/"><i class="fa fa-instagram"></i></a></div>
    <div><a href="#!/contact"><i class="fa fa-phone"></i></a></div>
    <div class='menu'>
      <div class='share' id='ss_toggle' data-rot='180'>
        <div class='circle'></div>
        <div class='bar'></div>
      </div>
    </div>
  </div>
</footer>
